/*Fonts : */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*about page ---------------------------------*/
.apropos {
    display: flex;
    flex-direction: column;
  }
  .apropos > .part1{
    height: 82vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../public/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .apropos > .part1 > p {
    color: aliceblue;
    font-size:60px;
    font-weight: 300;
  }
  .apropos > .part2 {
    display: flex;
    background-image: url("../public/About/gray.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .apropos > .part2 > .leftside , .rightside{
    width: 70vh;
    margin-right: 0px;
    padding: 2px;
  }
  .apropos > .part2 > .rightside {
    margin-left: 25px;
  }
  .References {
    /* background-image: url("../public/About/reference.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    margin-top: 0;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .References > div {
    font-family: Arial, Helvetica, sans-serif  ;
    font-size: 30px;
    font-weight: 200;
    color: rgb(114, 110, 104);
  }
  .Brands{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27px;
  }