@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html,body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
  

nav{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  align-items: center;
}

nav>.logo{
  height: 50px;
  width: 250px;
  margin-top: -5px;
}
nav>.logo:hover{
  animation: 2s rotation forwards;
}

nav>.MenuBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>.MenuBar>.navBarEle{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 26px;
}
nav>.MenuBar>.navBarEle>li{
  font-family: 'Roboto', sans-serif;
  margin-right: 20px;
  font-size: 17px;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: 0.6s;
  transform-origin: all;
}
nav>.MenuBar>.navBarEle>.active,nav>.MenuBar>.navBarEle>li:hover{
  color: rgb(139, 111, 72);
  border-bottom: 2px solid rgb(192, 166, 129);
}

nav>.MenuIcon{
  transform: scale(1.6);
  margin-top: 7px;
  margin-right: 20px;
  background: #d75948;
  border-radius: 3px;
  padding-right: 3px;
  padding-left: 3px;
  display: none;
  align-items: center;
  color: white;
  cursor: pointer;
}
nav>.MenuBar>.CloseMenuIcon{
  display: none;
  position: absolute;
  right: 43px;
  top: 31px;
  transform: scale(1.6);
}
nav>.MenuBar>.CloseMenuIcon:hover{
  color: #d75948;
  cursor: pointer;
  transition: 0.6s;
  transform-origin: all;
}
nav>.MenuIcon:hover{
  background: #df6555;
}
nav>.MenuBar>.DDevis{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  background: #d75948;
  transition: 0.6s;
  transform-origin: all;
  margin-top: 10px;
}
nav>.MenuBar>.MenuBar>.DDevis:hover{
  color: #d75948;
  background: white;
  border: 2px solid #d75948;
}

.footer>.bottom{
  text-align: center;
  color: gray;
  font-size: 16px;
  margin-top: 20px;
  border-top: 2px solid rgb(192, 185, 185);
}

.footer{
  border-top: 2px solid rgb(192, 185, 185);
  margin-top: 30px;
  padding-top: 30px;
}
.footer>.top{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 align-items: center;
}
.footer>.top>.left{
  max-width: 300px;
  margin-right: 20px;
}
.footer>.top>.left>img{
}
.footer>.top>.left>.title{

}
.footer>.top>.left>.Addr{

}
.footer>.top>.left>.Email{

}
.footer>.top>.left>.tele{

}
.footer>.top>.left>.socialMedia{

}

.footer>.top>.left>.socialMedia>.SocialMediaIcons{
  cursor: pointer;
}
.footer>.top>.left>.socialMedia>.SocialMediaIcons>.facebook{
  
}
.footer>.top>.left>.socialMedia>.SocialMediaIcons>.youtube{

}
.footer>.top>.left>.socialMedia>.SocialMediaIcons>.instagram{

}
.footer>.top>.left>.socialMedia>.SocialMediaIcons>.whatsapp{

}






.footer>.top>.right{
  
}
.footer>.top>.right>.maps{
  max-width: 500px;
}
@media only screen and (max-width:871px){
  .footer>.top>.left{
    width: 100%;
    max-width: fit-content;
    padding-left: 20px;
    padding-right:20px;

  }
  .footer>.top>.right>.maps{
    margin-top: 40px;
    width: 95%;
  }
}

@media only screen and (max-width:980px){
  nav>.MenuBar{
    display: none;
  }
  .MenuBar>.DDevis{
    margin-left: 30px;
  }
  nav{
    text-align: center;
  }
  nav>.MenuIcon{
    display: flex;
  }
  nav>.MenuBar>.CloseMenuIcon{
    display: flex;
  }
  #IconMenuCheck:checked ~ .MenuBar{
    animation: 2s showUp both;
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 99vh;
    background: rgba(0,0,0,0.8);
    flex-direction: column;
    color: white;
    top:0;
    left: 0;
    justify-content: space-between;
  }
  #IconMenuCheck:checked ~ .MenuBar>.navBarEle{
    flex-direction: column;
    height: 80vh;
    padding-top: 40px;
  }
}

@keyframes showUp{
  from {
    top:102vh;
  }
  to {
    top:0;
  }
}
@keyframes rotation{
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}